/*
 Name:         Siete & medio
 Theme URI:    https://laperallimonera.cat
 Description:  Joc de cartes del 7 i mig.
 Author:       La Pera Llimonera
 Author URI:   https://laperallimonera.cat
 Version:      0.1
 Created:      4.12.2023
 Last Update:  
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "reset";
@import "main";